@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500;700&display=swap" rel="stylesheet");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	margin: 60px auto;
	width: 1000px;
	font-size: 18px;
	background-color: #F8F9FA; 
	color: #343A40;
        line-height: 1.6;
}
nav ul, footer ul {
	font-family: 'Helvetica', 'Arial', 'Sans-Serif';
	padding: 0px;
	list-style: none;
	font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #009;
}
a:hover {
    text-decoration: underline;
}
h1, h2, h3, h4{
	font-family: 'Google Sans', 'Product Sans', Arial, sans-serif;
	font-weight: 700;
	color: #14213D;
        margin-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
  margin-top: 2rem;
}
h2 {
  font-size: 2rem;
  margin-top: 1.5rem;
}

h3 {
  font-size: 1.75rem;
  margin-top: 1rem;
}

p {
    font-size: 1.5em;
    line-height: 1.8em;
    font-family: 'Google Sans', 'Product Sans', Arial, sans-serif;
    color: #000;
    font-weight: 200;
}
p.under {
	text-decoration: underline;
	font-weight: bold;
}
p.thick {
	font-weight: bold;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
shortborder {
    border-top: 1px solid #d5d5d5;
    width: 500px; /* This makes the element (and its border) half the width of its container */
    margin: 0 auto; /* This centers the element horizontally */
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}
ul.posts li {
    list-style: none;
}
